/*accesorios*/

.conteiner-cards {
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: 6%;
  margin-bottom: 5%;
}

.card-title {
  font-weight: 700;
}

.card-esponja {
  margin-top: 8%;
}
