/*footer*/
.footer__background--color {
  background-color: #b1c7d6;
}

.footer__text--color {
  color: rgb(0, 0, 0);
}

.what {
  margin-bottom: 3%;
  margin-top: 3%;
}

@media (max-width: 767px) {
  .footer__text--color {
    text-align: center;
    color: rgb(0, 0, 0);
  }

  .what {
    margin-top: 7%;
    margin-bottom: 7%;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
}
