/*NOSOTROS*/

.cardImg__nosotros--height {
  height: 300px;
  margin-top: 4%;
  margin-bottom: 4%;
}

h2 {
  font-family: "Hahmlet", serif;
  text-decoration: underline;
}
.cardTitle__text--colorAndStyle {
  font-size: 100%;
  font-style: oblique;
  text-decoration: underline;
  color: rgb(50, 139, 50);
  font-weight: 600;
}

.edit-card {
  margin-left: 2%;
  margin-right: 2%;
}

.card-text {
  text-align: justify;
}
