/*productos capilares*/
.cards__card--margin {
  margin-top: 2%;
}

.card__tamaño--style3 {
  margin-left: 2%;
  margin-bottom: 2%;
  border: none;
}

.card__title--font {
  font-weight: 600;
  color: #4d6a22;
}

.card__text--font {
  font-weight: 10000;
}

p {
  text-align: justify;
}

.container {
  max-width: 3000px;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 4%;
  margin-bottom: 5%;
}
